<span class="help is-danger">{{ errors }}</span>
<div class="field is-grouped is-grouped-centered">
        <div class="control">
                <label class="label">Name</label>
                
                    <input class="input is-success" type="text" placeholder="Enter a name" #companyName
                        (keydown)="errors = ''">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                
                <p class="help is-success">This name is available</p>

                <label class="label">Address</label>
                
                    <input class="input is-success" type="text" placeholder="Enter a address" #companyAddress
                        (keydown)="errors = ''">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                
                <p class="help is-success">This address is available</p>
        </div>
    </div>
<button type="button" class="button is-primary" [class.is-loading]="isLoading" (click)="addCompany(companyName.value, companyAddress.value)">Add Company</button>
