<span class="help is-danger">{{ errors }}</span>
<div class="field is-grouped is-grouped-centered">
    <div class="control">
            <label class="label">Name</label>
            
                <input class="input is-success" type="text" placeholder="Enter a name" #partnerName
                    (keydown)="errors = ''">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            
            <p class="help is-success">This username is available</p>
        
        
            <label class="label">Company</label>
            <div class="control">
                <div class="select" >
                    <select #partnerCompany (keydown)="errors = ''">
                            <option *ngFor="let company of companies" [value]="company.name" [selected]="company.selected == true">
                                    {{company.name}}</option>
                    </select>
                </div>
            </div>
    </div>
</div>
<button type="button" class="button is-primary" [class.is-loading]="isLoading"
    (click)="addPartner(partnerName.value, partnerCompany.value)">Add Partner</button>