
<app-company-form (companyAdded)="appendCompany($event)"></app-company-form>

<div>
    <span class="help is-info"  *ngIf="isLoading">Loading...</span>
    <table class="table" *ngIf="!isLoading">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
            </tr>
        </tbody>
    </table>
</div>

