<app-partner-form (partnerAdded)="appendPartner($event)"></app-partner-form>
<div>
    <span class="help is-info"  *ngIf="isLoading">Loading...</span>
    <table class="table" *ngIf="!isLoading">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let partner of partners">
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.company }}</td>
                <td>
                    <form>
                        <button class="button is-primary">Increase Count</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>